@font-face {
    font-family: 'Example';
    src: url('/fonts/Example.eot');
    src: url('/fonts/Example.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Example.woff2') format('woff2'),
        url('/fonts/Example.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}