@import './variables.scss';

@mixin f-matter($size,$line-height,$weight:normal,$spacing:1) {
	font-family:  $f-primary, 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: $size * 1px;
	line-height: $line-height * 1px;
	font-weight: $weight;
	margin:0;
	margin-bottom: $line-height * $spacing * 1px;
	& li, a {
		margin: 0;
  	}
}

@mixin f-h1 {
	@include f-matter(160,168,bold);
}

@mixin f-h2 {
	@include f-matter(64,72,bold,2);
}

@mixin f-h3 {
	@include f-matter(32,44);
}

@mixin f-h3-bold{
	@include f-h3();
	font-weight: bold;
}

@mixin f-h4 {
	@include f-matter(24,36,600);
}

@mixin f-body {
	@include f-matter(22,36);
}

@mixin f-body-bold {
	@include f-body();
	font-weight: bold;
}

@mixin f-body-italic {
	@include f-body();
	font-style: italic;
}

@mixin f-small {
	@include f-matter(18,32);
}

@mixin f-small-bold {
	@include f-small();
	font-weight: bold;
}

@mixin f-tiny {
	@include f-matter(14,24);
}

@mixin f-tiny-bold {
	@include f-tiny();
	font-weight: bold;
}

@mixin f-inline-links($colour:$c-rgb-blue, $use-after:false) {
	a {
		color: $colour;
		background-color: $c-link;
		transition: background-color .3s $t-bezier, color .3s $t-bezier;
		&:hover{
			color: $c-off-white;
			background-color: $c-rgb-blue;
		}
		@if $use-after {
			&:after{
				content:' -->';
				transition: padding .25s $t-bezier;
			}
			&:hover:after{
				padding-left: 4px;
			}
		}
	}
}

h1,.type__h1 {
  @include f-h1();
  h1{
  	margin:0;
  	padding: 0;
  }
}

h2,.type__h2 {
  @include f-h2();
  h2{
  	margin:0;
  	padding: 0;
  }
}

h3,.type__h3 {
	@include f-h3-bold();
	h3{
  		margin:0;
  		padding: 0;
  	}
}

h4,.type__h4 {
	@include f-h4();
	h4{
		margin:0;
		padding: 0;
	}
}

p,.type__body{
  @include f-body();
}

.type__body-bold {
	@include f-body-bold();
}

.type__body-italic {
	@include f-body-italic();
}

.type__small{
	@include f-small();
}

.type__small-bold{
	@include f-small-bold();
}

.type__tiny{
	@include f-tiny();
}

.type__tiny-bold{
	@include f-tiny-bold();
}
